@using PRN222_English_Exam.ViewModels
@model ExamCreateViewModel
@{
    ViewData["Title"] = "Exam Detail";
    ViewData["PageTitle"] = "Exam Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mb-4">
    <div class="card-body">
        <h2>@Model.Title</h2>
        <p><strong>Duration:</strong> @Model.Duration minutes</p>
        <p><strong>Created At:</strong> @Model.CreatedAt.ToString("yyyy-MM-dd HH:mm")</p>
    </div>
</div>

<hr />

<h4>Questions</h4>
@for (int i = 0; i < Model.Questions.Count; i++)
{
    var q = Model.Questions[i];
        <div class="card mb-3 p-3">
                <h5>Question @(i + 1):@q.QuestionText</h5>
            <p><strong>Type:</strong> @q.QuestionType</p>

        @if (q.QuestionType == "text")
        {
                @foreach (var opt in q.Options)
                {
                <input type="text" class="form-control" value=@(opt.OptionText) disabled />
                }
        }
        else if (q.QuestionType == "radio" && q.Options != null)
        {
            @foreach (var opt in q.Options)
            {
                <div class="input-group mb-1">
                    <div class="input-group-text" >
                        <input type="checkbox" checked=@(opt.IsCorrect) disabled />
                    </div>
                    <input class="form-control" value=@(opt.OptionText) disabled  />
                </div>
            }
        }
        else if (q.QuestionType == "checkbox" && q.Options != null)
        {
            @foreach (var opt in q.Options)
            {
                <div class="input-group mb-1">
                    <div class="input-group-text"  >
                        <input type="radio" checked=@(opt.IsCorrect) disabled />
                    </div>
                    <input class="form-control" value=@(opt.OptionText) disabled />
                </div>
            }
        }
        </div>
}

<a class="btn btn-secondary mt-3" href="/Admin/Exams/ListExam">← Back to List</a>
<a class="btn btn-warning mt-3 ms-2" href="/Admin/Exams/Edit/@Model.ExamId">
    ✎ Edit Exam
</a>
